button {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    background-color: none;
    color: var(--anvil-color-White-5881);
    border: none;
}

.btn-share {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  background-color: none;  /* Olive-black background color */
  color: var(--anvil-color-White-0f61);  /* White text color */
  border: 0px;
}