/**
 This CSS implements the Material Design look and feel for Anvil apps.
 **/

.modal-footer .btn {
  background-color: transparent;
  color: %color:Primary 500%;
}
.modal-footer .btn, .modal-footer .btn:focus, .modal-footer .btn:active {
  box-shadow: none;
  top: 0;
}

.btn, .btn-default, .file-loader>label {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  min-height: calc(16px + 1.42857143em);
  text-transform: uppercase;

  border: 0;
  background-image: none;
  background-color: transparent;
  color: %color:Primary 500%;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  
  position: relative;
}

.btn:hover, .btn:focus, .file-loader>label:hover {
  background-color: rgba(153,153,153,0.2);
  background-image: none;
  outline: none;
  color: %color:Primary 500%;
}

.btn:active, .btn:active:focus {
  background-color: rgba(153,153,153,0.4);
  background-image: none;
  outline: none;
  box-shadow: none;
  color: %color:Primary 500%;
}

.btn[disabled] { color: rgba(0, 0, 0, .25); }
.anvil-role-raised > .btn[disabled], .anvil-role-primary-color > .btn[disabled], .anvil-role-secondary-color > .btn[disabled] {
  background-color: rgba(0,0,0,0.12) !important;
  color: rgba(0,0,0,0.25) !important;
  box-shadow: none !important;
}

.anvil-role-raised > .btn, .anvil-role-primary-color > .btn, .anvil-role-secondary-color > .btn, .anvil-role-raised.file-loader>label, .anvil-role-primary-color.file-loader>label, .anvil-role-secondary-color.file-loader>label,
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger
{
  /* 2dp */  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.anvil-role-raised > .btn:active, .anvil-role-primary-color > .btn:active, .anvil-role-secondary-color > .btn:active, .btn-primary:active,
.btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active {
  /* 8dp */ box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);  
  top: -1px;
}

.anvil-role-primary-color > .btn, .btn-primary, .anvil-role-primary-color.file-loader>label {
  color: white;
  background-color: %color:Primary 500%;
}

.anvil-role-secondary-color > .btn, .anvil-role-secondary-color.file-loader>label {
  color: white;
  background-color: %color:Secondary 500%;
}

.btn-success, .btn-info, .btn-warning, .btn-danger {
  color: white;
}

.anvil-role-primary-color > .btn:hover, .anvil-role-primary-color > .btn:active, .anvil-role-primary-color > .btn:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: white;
  background-color: %color:Primary 700%;
}

.anvil-role-secondary-color > .btn:hover, .anvil-role-secondary-color > .btn:active, .anvil-role-secondary-color > .btn:focus {
  color: white;
  background-color: %color:Secondary 700%;
}

/* Component: Card */

.anvil-role-card {
  overflow: hidden;
  border-radius: 2px;
  background-color: white;
  padding: 8px 12px;
  /* 2dp */  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* full_width_row sections go full bleed */
.column-panel.anvil-role-card > .anvil-panel-section > .anvil-panel-section-container.full-width-row {
  margin-left: -12px;
  margin-right: -12px;
  width: initial;
  max-width: initial;
}

/* If the first row of a card is a full_width_row, it goes to the top */
.column-panel.anvil-role-card > .anvil-panel-section:first-child > .anvil-panel-section-container.full-width-row {
  margin-top: -8px;
}
.column-panel.anvil-role-card > .anvil-panel-section:last-child > .anvil-panel-section-container.full-width-row {
  margin-bottom: -8px;
}



/* Component: TextBox + TextArea */

input.anvil-component, textarea.anvil-component, .anvil-component select, .anvil-datepicker input {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
  background-color: transparent;
  color: rgba(0,0,0,0.87);
  
  box-shadow: none;
}

.anvil-dropdown {
  font-size: 16px;
}
.anvil-component select {
  font-size: inherit;
}

input.anvil-component, .anvil-component select, .anvil-datepicker input {
  padding: 8px 0 4px;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.42);

  transition: border-bottom 0.2s, padding-bottom 0.2s;
  -moz-transition: none; /* Firefox is jumpy, so disable transitions */
}

textarea.anvil-component {
  padding: 4px 8px;
  border: 1px solid rgba(0,0,0,0.42);
  border-radius: 2px;
  transition: border 0.2s, padding 0.2s;
  -moz-transition: none; /* Firefox is jumpy, so disable transitions */
}

.anvil-dropdown select.form-control {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px 2em 4px 0;
  
  /* ew ew ew - select elements are weird and don't obey line-height, so we just
     set the height explicitly. Ugh. */
  height: calc(1.5em + 13px); /* 8px + 4px padding + 1px border = 13px */
}

.anvil-dropdown {
  position: relative;
}
/* Select arrow styling */
.anvil-dropdown form:before {
    content: "\25BC";
    position: absolute;
    right: 0;
    font-size: 80%;
    line-height: calc(1.8em + 8px);
    color: #555;
    pointer-events:none;
    padding: 4px 4px;
}

.anvil-component select, .anvil-datepicker input { margin-bottom: 4px; }
input.anvil-component.anvil-spacing-below-none { margin-bottom: 4px; }
input.anvil-component.anvil-spacing-below-small { margin-bottom: 8px; }
input.anvil-component.anvil-spacing-below-medium { margin-bottom: 12px; }
input.anvil-component.anvil-spacing-below-large { margin-bottom: 20px; }

input.anvil-component::-webkit-input-placeholder, textarea.anvil-component::-webkit-input-placeholder {
  color: rgba(0,0,0,0.54);
}
input.anvil-component::-moz-placeholder, textarea.anvil-component::-moz-placeholder {
  color: rgba(0,0,0,0.54);
}
input.anvil-component::placeholder, textarea.anvil-component::placeholder  {
  color: rgba(0,0,0,0.54);
}

.app-bar input.anvil-component::-webkit-input-placeholder, .app-bar textarea.anvil-component::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
}
.app-bar input.anvil-component::-moz-placeholder, .app-bar textarea.anvil-component::-moz-placeholder {
  color: rgba(255,255,255,0.8);
}
.app-bar input.anvil-component::placeholder, .app-bar textarea.anvil-component::placeholder  {
  color: rgba(255,255,255,0.8);
}

input.anvil-component:hover, .anvil-component select:hover, .anvil-datepicker input:hover {
  border-bottom: 2px solid rgba(0,0,0,.87);
  padding-bottom: 3px;
}

input.anvil-component:focus, .anvil-component select:focus, .anvil-datepicker input:focus {
  border-bottom: 2px solid %color:Primary 700%;
  padding-bottom: 3px;
  box-shadow: none;
}

input.anvil-component[disabled], .anvil-component select[disabled], .anvil-datepicker input[disabled] {
  border-bottom: 1px dashed #888;
  padding-bottom: 4px;
  background-color: transparent;
}

textarea.anvil-component:hover {
  border: 2px solid rgba(0,0,0,0.87);
  padding: 3px 7px;
}
#loading_spinner {
  width:100px;
  height:100px;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: url(_/theme/loading_spinner.svg) !important;
}
textarea.anvil-component:focus {
  border: 2px solid %color:Primary 700%;
  padding: 3px 7px;
  box-shadow: none;
}

textarea.anvil-component[disabled] {
  border: 1px dashed #888;
  padding: 4px 8px;
  background-color: transparent;
}

.daterangepicker td.active {
  background-color: %color:Primary 500%;
}

.daterangepicker td.active:hover {
  background-color: %color:Primary 700%;
}

.daterangepicker .btn-success {
  color: %color:Primary 500%;
}

/* Component: CheckBox, RadioButton */
/* Ugh. These are definitely TODO right now. */

.checkbox, .radio {
  font-size: 16px;
}

input.anvil-component::placeholder{
  color: white;
}

/* Shadow values taken from 
https://stackoverflow.com/questions/30533055/calculating-shadow-values-for-all-material-design-elevations
*/

