/**
 This CSS implements the Material Design look and feel for Anvil apps. *#*Came from Skinlinks app i will not take any credit for this code below*#*
 **/

.btn, .btn-default, .file-loader>label {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  min-height: calc(16px + 1.42857143em);
  text-transform: uppercase;

  border: 0;
  background-image: none;
  background-color: transparent;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  
  position: relative;
}

.anvil-role-primary-color > .btn, .btn-primary, .anvil-role-primary-color.file-loader>label {
color: black;
background-color: %color:Primary 500%;
}

.anvil-role-secondary-color > .btn, .anvil-role-secondary-color.file-loader>label {
color: black;
background-color: %color:Secondary 500%;
}

.btn-success, .btn-info, .btn-warning, .btn-danger {
color: black;
}

.anvil-role-primary-color > .btn:hover, .anvil-role-primary-color > .btn:active, .anvil-role-primary-color > .btn:focus,
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
color: black;
background-color: %color:Primary 700%;
}

.anvil-role-secondary-color > .btn:hover, .anvil-role-secondary-color > .btn:active, .anvil-role-secondary-color > .btn:focus {
color: black;
background-color: %color:Secondary 700%;
}

/* this is my own code below.

/* Hide the default loading spinner */
.anvil-spinner {
  display: none;
}

/* Showing the custom loading spinner */
#loadingSpinner {
  background-image: url('_/theme/tube-spinner.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 125px; 
  height: 125px; 
}

.anvil-role-no-highlight > .btn:hover, .btn:active, .btn:focus, .btn:active:focus {
  background-color: transparent;
  border: 0px;
  
}

.anvil-role-center-items > .flow-panel-gutter {
    justify-content: center!important;
    align-content: center;
    min-height: 10vh;
}

.avil-role-round-corners > .btn {
  border-radius: 25px;
}

.anvil-role-textbox-margin {
  margin-bottom: 20px;
}
